.App {
  height: 100vh;
}

.FormGroup {
  width: 220px;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.TextField {
  padding: 20px;
  background-color: white;
}

.Button {

}

.Application {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(61, 59, 59);
}