.NewsPlaceholder {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  background-color: rgb(61, 59, 59);
}

.SpeedReader {
  background-color: gainsboro;
}

h4 {
  color: gainsboro;
}

.Slider {
  width: 80% !important;
  color: #4559f5 !important;
}

.MuiSlider-markLabel {
  color: gainsboro !important;
}
